* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

::selection {
    background-color: tomato;
    color: springgreen;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 12px;
}

.header {
    padding-top: 36px;
    padding-bottom: 24px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-logo img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
}
.header-logo span {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
}

/* Buttons */
.btn {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    background-color: #2bc375ce;
    border-radius: 5px;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent;
}
.btn-outline:hover {
    background-color: #2bc375ce;
    transition: 0.3s;
}

.btn-primary {
    color: #fff;
}
.btn-primary:hover {
    background-color: #4eda91ce;
    transition: 0.3s;
}

/* BURGER MENU */
.header-burger {
    display: none;
}

.header-burger img {
    width: 30px;
    height: 19px;
}

/* Search */
.search-box {
    width: 100%;
    border-radius: 5px;
    background-color: #4eda91ce;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.search-box input {
    flex-grow: 1;
    margin-right: 5px;
    padding: 14px 22px;
    border-radius: 5px;
}

.search-btn {
    align-items: center;
}

.search-btn__icon {
    width: 18px;
    height: 18px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 930px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width: 786px) {
    .container {
        max-width: 100%;
    }

    .header-burger {
        display: block;
    }

    .header-controls {
        display: none;
    }
}